
@media screen and (max-width: 600px) {
    body {
        background-image: url("image/career-firefighter-relaxing-job-162540.jpeg");
        background-size: cover;
    }

    h1 {
        text-align: center;
        color: #e32121;
        font-size: 5vw;
    }

    h2 {
        text-align: center;
        color: White;
        font-size: 4vw;
    }

    .header {
        list-style-type: none;
        margin: -20px;
        height: 20%;
        overflow: hidden;
        background-color: #ffffff;
        position: sticky;
    }

    .left{
        display:inline-block;
        margin-left: 1%;
        margin-top: 1.5%;
    }

    .right{
        float: right;
        margin-right: 20px;
        margin-top: -35px;
    }

    .logo {
        height: 150px;
    }

    .tekstvlak {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.53);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
    }

    .break{
        list-style-type: none;
        background-color: #7c7c7c;
        height: 720px;
        overflow: hidden;
    }

    .breaktext {
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.53);
        padding: 3.8% 0.5%;
        margin-left: 10%;
        margin-top: 20px;
        width: 80%;
        height: 150px;
    }

    .breakimg{
        width: 100px;
        display:block;
    }

    .breaktxt{
        font-size: 3vw;
        color: white;
    }

    .break1{
        list-style-type: none;
        background-color: #ff0000;
        overflow: hidden;
    }

    #time{
        margin: auto;
        width: 100px;
        font-weight: bold;
        background-color: #79e67d;
        color: black;
        font-size: 3.5vw;
        font-family: 'Courier New', Courier, monospace;
    }

    .house{
        width: 80%;
        float: left;
        margin: auto;
        z-index: 1;
    }

    #vuur{
        float: left;
        margin-left: -290px;
        margin-top: 120px;
        z-index: 1000;
        position: relative;
        width: 30px;
    }
    
    #vuur1{
        float: left;
        margin-left: -255px;
        margin-top: 120px;
        z-index: 1000;
        position: relative;
        width: 30px;
    }
    
    #vuur2{
        float: left;
        margin-left: -225px;
        margin-top: 70px;
        z-index: 1000;
        position: relative;
        width: 30px;
    }
    
    #vuur3{
        float: left;
        margin-left: -190px;
        margin-top: 70px;
        z-index: 1000;
        position: relative;
        width: 30px;
    }
    
    #vuur4{
        float: left;
        margin-left: -90px;
        margin-top: 60px;
        z-index: 1000;
        position: relative;
        width: 30px;
    }

    #vuurButton{
        float: left;
        margin-top: 200px;
        margin-left: -50px;
        z-index: 1000;
        font-size: 3vw;
        padding: 1% 1%;
        font-weight: bold;
        background-color: #ff6200;
        position: relative;
    }

    #restart{
    float: right;
    margin-top: -50px;
    z-index: 1000;
    font-size: 3vw;
    padding: 1% 1%;
    font-weight: bold;
    background-color: #00ff40;
    position: relative;
}

    .breaktext1 {
        float: left;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.53);
        margin-left: 5%;
        margin-top: -20px;
        width: 40%;
    }

    .breaktxt1{
        font-size: 3vw;
        color: white;
        margin: 20px;
    }

    #result {
        font-size: 3vw;
        float: left;
        max-width: 100px; 
        margin-left: 175px;
        margin-top: -100px;
        padding: 5px;
        border-radius: 10px;
        background-color: #06caca;
        position: relative;
    }

    .footer{
        background-color:white;
    }
    
    .credit{
        padding: 1%;
        font-size: 2vw;
    }
    






}