/* body, html {
    cursor: url("image/blusser.png"), pointer;
  
  } */
  

  #time{
    margin: auto;
    width: 400px;
    font-weight: bold;
    background-color: #79e67d;
    color: black;
    font-size: 2.5vw;
    font-family: 'Courier New', Courier, monospace;
  }

body {
    background-image: url("image/career-firefighter-relaxing-job-162540.jpeg");
    background-repeat: repeat-x;
    background-size: cover;
}

h1 {
    text-align: center;
    color: #e32121;
    font-size: 3.5vw;
}

.hidden {
    display:none;
}

.show {
    display:inLine !important;
}

.demo {
    color: black;
}

#vuur{
    float: left;
    margin-left: -655px;
    margin-top: 280px;
    z-index: 1000;
    position: relative;
    width:60px;
}

#vuur1{
    float: left;
    margin-left: -580px;
    margin-top: 280px;
    z-index: 1000;
    position: relative;
    width: 60px;
}

#vuur2{
    float: left;
    margin-left: -505px;
    margin-top: 165px;
    z-index: 1000;
    position: relative;
    width: 60px;
}

#vuur3{
    float: left;
    margin-left: -430px;
    margin-top: 165px;
    z-index: 1000;
    position: relative;
    width:60px;
}

#vuur4{
    float: left;
    margin-left: -195px;
    margin-top: 145px;
    z-index: 1000;
    position: relative;
    width:60px;
}

#vuurButton{
    float: left;
    margin-top: 50px;
    z-index: 1000;
    font-size: 0.8vw;
    padding: 1% 1%;
    font-weight: bold;
    background-color: #ff6200;
    position: relative;
}

#result {
    font-size: 20px;
    float: left;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: #06caca;
    position: relative;
}

#restart{
    float: left;
    margin-top: 50px;
    z-index: 1000;
    font-size: 0.8vw;
    padding: 1% 1%;
    font-weight: bold;
    background-color: #00ff40;
    position: relative;
}

.button:hover {
    background-color: #79e67d; /* Green */
    color: black;
}

.left{
    display:inline-block;
    margin-left: 1%;
    margin-top: 1.5%;
}

.breaktext1 {
    float: right;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.53);
    margin-right: 200px;
    width: 500px;
}

.breakimg{
    width: 250px;
    display:block;
    margin-right: 20px;
    float: left;
}

.logo {
    height: 170px;
    margin-top: -10%;
    margin-left: -10%;
}

.header {
    list-style-type: none;
    margin: -20px;
    max-height: 20%;
    overflow: hidden;
    background-color: #ffffff;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.column {
    margin-left: 20px;
    margin-right: 20px;
    width: 10%;
    padding: 3%;
}

.credit{
    padding-top: 1%;
    font-size: 1vw;
}

.footer{
    margin: -20px;
    background-color:white;
}

.right{
    float: right;
    margin-right: 2%;
}

.tekstvlak {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 0.5% 0.5%;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    width: 50%;
    font-size: 2vw;
}

.break{
    list-style-type: none;
    background-color: #7c7c7c;
    margin: -20px;
    height: 650px;
    overflow: hidden;
}

.break1{
    list-style-type: none;
    background-color: #ba8e8e;
    margin: -20px;
    padding-bottom: 5%;
    overflow: hidden;
}

.house{
    width: 700px;
    float: left;
    margin-left: 100px;;
    z-index: 1;
}

.breaktext {
    float: left;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.53);
    padding: 3.8% 0.5%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 2%;
    width: 30%;
    height: 300px;
}

.breaktxt{
    font-size: 1.4vw;
    color: white;
    margin-left: 42%;
}

.breaktxt1{
    font-size: 1.4vw;
    color: white;
    margin: 20px;
}

body {
    background-image: url("image/career-firefighter-relaxing-job-162540.jpeg");
    background-repeat: repeat-x;
    background-size: cover;
    overflow-x: hidden;
}

h2 {
    text-align: center;
    color: White;
    font-size: 1.5vw;
}

.header {
    list-style-type: none;
    margin: -20px;
    max-height: 20%;
    overflow: hidden;
    background-color: #ffffff;
    position: sticky;
    top: 0%;
    z-index: 100;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.column {
    margin-left: 20px;
    margin-right: 20px;
    width: 10%;
    padding: 3%;
}

.credit{
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vw;
}

.footer{
    margin: -20px;
    margin-top: 10px;
    background-color:white;
}



